*bin/
.vs/
obj/
launchsettings.json
*.suo
*.tmp
*.wad
*.psess
*.vsp
*.prf
*.user
*.bak
*.orig
*.dat
*.SDB
*.DFR
*.SYM
*.pro
*.ci
*.ri
*.APP
*.cfg
*.rsc
*.dll
*.pdb
*.exe
*.config
*.PRG
*.log
*.db
*.lock
*.dxf
*.CRC
*.pfx
*.docx
*.xlsx
*.pdf